<div  class="ng-scope">
  <div class="ng-scope">
    <h1>Gestion du Stock
      <small>pour Paris Champs Élysées
        <a type="button" title="Changer de boutique" data-toggle="modal" class="icon-Pencil"
           ></a>
        <span class="text-hide">Modifier</span></small>
    </h1>
  </div>

  <main class="container ng-scope">
    <div class="row">
      <a ></a>
      <div class="o-panel col-md-3 col-sm-6 col-xs-6"><a
        >
        <div class="panel-image">
          <img src="../../../assets/image/stock/Inventaires.jpg" alt="">
        </div>
        <div class="panel-block">
          <div class="panel-link">Inventaires</div>
        </div>
      </a>
      </div>
      <div class="o-panel col-md-3 col-sm-6 col-xs-6">
        <a routerLink="livraison">
          <div class="panel-image">
            <img src="../../../assets/image/stock/livraisons.jpg" alt="">
          </div>
          <div class="panel-block">
            <div class="panel-link">Livraisons</div>
          </div>
        </a>
      </div>
      <div class="o-panel col-md-3 col-sm-6 col-xs-6">
        <a >
          <div class="panel-image">
            <img src="../../../assets/image/stock/mouvement-stock.jpg" alt="">
          </div>
        </a>
        <a >
          <div class="panel-block">
            <div class="panel-link">Mouvements de stock</div>
          </div>
        </a>
      </div>
      <div class="o-panel col-md-3 col-sm-6 col-xs-6">
        <a >
          <div class="panel-image">
            <img src="../../../assets/image/stock/consultation.jpg" alt="">
          </div>
          <div class="panel-block">
            <div class="panel-link" >Consultation</div>
          </div>
        </a>
      </div>
    </div>
  </main>
