<!-- Gestion du changement de boutique -->
<div class="ng-scope">
  <h1>Gestion opérations boutique
    <small>pour Paris Champs Élysées
      <a type="button" title="Changer de boutique" data-toggle="modal" class="icon-Pencil"
         data-target=".bs-example-boutique-sm"></a>
      <span class="text-hide">Modifier</span></small>
  </h1>
</div>

<!-- Gestion du contenu principal -->
<main class="container ng-scope">

  <div class="row">
    <div class="o-panel col-md-3 col-sm-6 col-xs-6">
      <a routerLink="home/caisse" routerLinkActive="true">
        <div class="panel-image">
          <img src="./../../../assets/image/caisse/operationCaisse.jpg" alt="">
        </div>
        <div class="panel-block">
          <div class="panel-link">Opérations Caisse</div>
        </div>
      </a>
    </div>
    <div class="o-panel col-md-3 col-sm-6 col-xs-6">
      <a routerLink="stock" routerLinkActive="true">
        <div class="panel-image">
          <img src="./../../../assets/image/stock/gestionStock.jpg" alt="">
        </div>
        <div class="panel-block">
          <!--<a class="panel-link" href="indexStock.html">Gestion des Stocks</a>                -->
          <div class="panel-link">Gestion des Stocks</div>
        </div>
      </a>
    </div>
    <div class="o-panel col-md-3 col-sm-6 col-xs-6">
      <a routerLink="home/etat" routerLinkActive="true">
        <div class="panel-image">
          <img src="./../../../assets/image/etats/Etats.jpg" alt="">
        </div>
        <div class="panel-block">
          <div class="panel-link" href="#">États</div>
        </div>
      </a>
    </div>
    <div class="o-panel col-md-3 col-sm-6 col-xs-6">
      <a routerLink="home/utilisateur" routerLinkActive="true">
        <div class="panel-image">
          <img src="./../../../assets/image/utilisateur/gestionUtiisateur.jpg" alt="">
        </div>
        <div class="panel-block">
          <div class="panel-link" href="#">Gestion des utilisateurs</div>
        </div>
      </a>
    </div>
  </div>

</main>
