<div id="main" class="container">



  <nav ><a ><span class="icon-arrow-previous"></span> Retour aux livraisons de la boutique <h2>Paris Champs Élysées </h2></a></nav>
  <div >
    <h1><small>Livraison</small> 00213548763 <small>du</small> 09/06/2017 <small>depuis</small> Entrepôt</h1>

    <table id="news-table" class="table table-striped tablesorter  o-responsive-table col-xs-12">
      <thead>
      <tr>
        <th scope="col"><a >Sous-Famille<span class="sr-only"> sortable</span></a></th>
        <th scope="col"><a >EAN<span class="sr-only"> sortable</span></a></th>
        <th scope="col"><a >Description<span class="sr-only"> sortable</span></a></th>
        <th scope="col"><a >Quantité prévue<span class="sr-only"> not-sortable </span></a></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>200</td>
        <td>1235467890123</td>
        <td>PhoPhone 2 rose</td>
        <td>2</td>
      </tr>
      <tr>
        <td>129</td>
        <td>12354678901222</td>
        <td>bla gaze</td>
        <td>10</td>
      </tr>
      <tr>
        <td>129</td>
        <td>1235467890125</td>
        <td>blabla zae</td>
        <td>1</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

